*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(ciudad.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/*aca configuro como se veria en computadora*/
.barras{ 
    display: none; 
}
.desplegable{
    background: #D6A77A; /* Caramelo suave */
}
ul{ 
    display: flex;
    flex-direction: row;
}

ul li{
    padding: 10px;
    list-style: none;
}

ul li a{
    color: #FAF0BE; /* Amarillo pastel */
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
}

nav ul li:hover{
    background: #F4A261; /* Anaranjado suave */
}

/*aca configuro como se veria en tablet*/
@media (max-width: 850px){
    .barras{
        background-color: #D6A77A; /* Caramelo suave */
        display: block;
    }

    .desplegable{
        display: none;
        background: none;
        background-color: #D6A77A; /* Caramelo suave */
        transform: translate(-100%);
        transition: 0.5s;
        font-size: 1.5rem;
        width: 50%;
    }

    ul{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    a{
        padding: 0;
    }

    a{
        font-size: 1.5rem;
        padding: 20px 0px 20px 20px;
        display: block;
        text-align: left;
    }

    .boton_menu {
        background-image: url('icono_menu.png');
        background-color: #D6A77A; /* Caramelo suave */
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
        background-position: center;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
    }

    button{
        margin: 5px;
        border: none;
        margin: 10px 10px 10px 20px;
    }

    /*con esta clase abro y cierro el menu con toggle*/
    .abrir_menu{
        background: #D6A77A; /* Caramelo suave */
        backdrop-filter: blur(2px);
        transform: translate(0%);
        width: 50%;
        transition: 0.5s;
    }

    /*con esta clase cambio las barras por una x*/
    .colocar_x {
        background-image: url('icono_x.png');
        background-color: #D6A77A; /* Caramelo suave */
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: center;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
    }
}

/*aca configuro como se veria en celular*/
@media (max-width: 500px){
    .barras{
        display: block;
        background-color: #D6A77A; /* Caramelo suave */
    }

    .boton_menu {
        background-image: url('icono_menu.png');
        background-color: #D6A77A; /* Caramelo suave */
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
        background-position: center;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
    }

    .desplegable {
        display: none;
        background: #E6A57E; /* Terracota clara */
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 20px;
        font-size: 1.6rem;
        transition: 0.5s;
    }

    .abrir_menu {
        display: flex;
        transform: translate(0%);
    }

    ul {
        flex-direction: column;
        height: 100vh;
        width: 100%;
        padding: 0;
    }

    ul li {
        width: 100%;
        padding: 15px;
    }

    ul li a {
        text-align: left;
        font-size: 1.6rem;
        color: #FAF0BE; /* Amarillo pastel */
    }

    .colocar_x {
        background-image: url('icono_x.png');
        background-color: #D6A77A; /* Caramelo suave */
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position:
